html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family:Helvetica neue 75 bold;
}



html, body{
	height: 100%;
	width: 100%;
}
#footer{
	background-color: black;
	position: fixed;
	color: white;
	line-height: 69px;
	width: 100%;
}


#title a, h1{
	color: white;
}

#title img{
	margin-top: 5%;
}

#title img{
	margin-left: 15%;
}

#title{
	background-color: black;
	height: 15%;
}
h1{
	font-size: 30px;
	display: inline-block;
}

#nav img{
	height: 32px;
	width: 32px;
}

.container{
	max-width: 100%;
	max-height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;
	width: 100%;
}

#logo{
	height: 50%;
}

#contain{
	height: 75%;
	font-size: 80%;
}

#container{
	height: 92.5%;
	width: 100%;
}

#recherche{
	width: 30%;
	height: 30%;
	margin-top: 8%;
	margin-left: 50%;
	display: inline-block;
}

#button{
	height: 30%;
	width: auto;
	margin-bottom: 1%;
	font-size: 15px;
	cursor: pointer;
}

#contain button:hover{
	opacity: 0.7;
}

#contain button{
	font-size: 14px;
	text-shadow: 0.5px 0.5px black;
	cursor: pointer;
	text-align: center;
}

@-moz-document url-prefix() { 
  #contain button {
     display: inline-flex;
  }
}


#Tutoriels , #Guides, #DocumentsTechniques
{
	margin-top: 5%;
}

#Tutoriels{
	background-color: #A447A5;
}

#Guides{
	background-color: #4AB6E7;
}

#DocumentsTechniques, #Informations	{
	background-color: #FF8022;
}

#Outils{
	background-color: #1CB34B;
}

#Informations img, #NotesDeVersion img{
	padding-top 30px;
}

#contain img{
	display:  -ms-flexbox;
	display: -ms-inline-flex;
}

#Tutoriels, #Outils{
	margin-left: 15%;
}

#ulOrange{
	display: block;
	background-color: #4AB4E9;
	height: 20%;
	width: 64%;
	padding: 5px 25px ;
	padding-top: 15px;
	overflow: hidden;
	list-style: none;
	margin-top: 5%;
	margin-left: 15%;
	font-size: 90%;
}

#ulOrange li{
	width: 25%;
	float: left;
	padding: 1px;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	color: black;
}

#ulOrange li a:hover{
	background-color: #F16E00
}

#ulOrange li a{
	background: #ffffff;
	color: #000;
	padding: 0;
	display: table;
	width: 100%;
	text-align: center;
	text-decoration: none;
	height: 42px;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "HelveticaNeueRegular", sans-serif;
	cursor: pointer;
}

#ulOrange li a span{
	display: table-cell;
	vertical-align: middle;
}

#foot{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#footer li{
	float: left;
	padding: 0 20px;
	position: relative;
	list-style: none;
}

#footer a{
	color: white;
	text-decoration: none;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	cursor: pointer;
}

body{
	margin-top: 0!important;
	margin-left: 0!important;
}

#NotesDeVersion{
	background-color: #A447A5;
}

#middleTitle{
	color: black;
	margin-top: 20px;
	display: block;
	margin-left: 10%;
}

#menuDeroulant{
	margin-top: 5%;
	margin-left: 15%;
}

.news-content{
	color: white;
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 10;
	width: 270px;
}

.Hide{
	display: none;
}

.Show{
	display: block;
}

#monChat{
	background: #F8F8F8;
	border: 5px solid #CCC;
	 border-color : orange;
	width: 500px;
	height: 400px;
	position:absolute;
	right: 1%; 
	bottom: 5%;
	margin:-25px 0 0 -50px;
	border-radius:5px;
	z-index: 1;
}   

/* Style The Dropdown Button */
.dropbtn {
    background-color: #FF8022;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
}

/* The container <div> - needed to position the dropdown content */
.dropdownPlace {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*dropsubmenu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-toggle::after {
    display:none
}

/*Dropdow Menu*/
.parent {width: 25%;display: block;position: relative;float: left;line-height: 40px;background-color: #F0F0F0;border-right:#CCC 1px solid; margin: auto; text-align: center;}
.parent a{margin: 10px;color: #F0F0F0;text-decoration: none; color: black;}
.parent:hover > ul {display:block;position:absolute;}
.child {display: none;}
.child li {background-color: #E4EFF7;line-height: 30px;border-bottom:#CCC 1px solid;border-right:#CCC 1px solid; width:100%;}
.child li a{color: #000000;}
ul{list-style: none;margin: 0;padding: 0px; min-width:10em;}
ul ul ul{left: 100%;top: 0;margin-left:1px;}
li:hover {background-color: #95B4CA;}
.parent li:hover {background-color: #F0F0F0;}
.expand{font-size:12px;float:right;margin-right:5px;}

.clr{
    clear:both;
    font-size:0;
}